:root {
  /* Color */
  --white-color: #fff;
  --black-color: #140a00;
  --blue-color: #045fd4;
  --red-color: #ff0000;
  --grey-dark-color: #909090;
  --grey-light-color: #e0e0e0;

  /* Size */
  --padding: 12px;
  --avatar-size: 36px;

  /* Font Size */
  --font-large: 20px;
  --font-regular: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;
}

/* Reset */
body,
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button,
button:focus {
  border: none;
  cursor: pointer;
  outline: none;
  background-color: inherit;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  font-size: var(--font-large);
  color: var(--white-color);
  background-color: var(--black-color);
}

header .logo {
  line-height: 28px;
}

header .logo i {
  color: var(--red-color);
}

header .header-icons {
  display: flex;
}

header .header-icons button {
  padding: calc(var(--padding) / 2);
  font-size: var(--font-medium);
}

header .header-icons button i {
  color: var(--white-color);
}

/* Player */
.player {
  background-color: var(--black-color);
  text-align: center;
}

.player video {
  width: 100%;
  max-width: 1000px;
}

/* Info */
.info {
  padding: var(--padding);
}

.info .hashtag {
  display: flex;
}

.info .hashtag li {
  margin-right: calc(var(--padding) / 2);
  font-size: var(--font-small);
  color: var(--blue-color);
}

.info .meta {
  display: flex;
}

.info .meta .titleAndView {
  display: flex;
  flex-direction: column;
}

.info .meta .titleAndView .title {
  font-size: var(--font-medium);
}

.info .meta .titleAndView .title.clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.info .meta .titleAndView .view {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
  padding: calc(var(--padding) / 2) 0;
}

.info .meta .moreBtn {
  height: 100%;
  transition: 300ms ease-in-out;
}

.info .meta .moreBtn.clicked {
  transform: rotate(180deg);
}

.info .action {
  display: flex;
  justify-content: space-around;
}

.info .action button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding);
  color: var(--grey-dark-color);
  font-size: var(--font-regular);
}

.info .action button i {
  margin-bottom: calc(var(--padding) / 2);
}

.info .action button span {
  font-size: var(--font-small);
}

.info .channel {
  display: flex;
  justify-content: space-between;
  padding: var(--padding) 0;
  border-top: 1px solid var(--grey-light-color);
  border-bottom: 1px solid var(--grey-light-color);
}

.info .channel .channel-info {
  display: flex;
  align-items: center;
}

.info .channel .channel-info img {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: 50%;
  margin-right: var(--padding);
}

.info .channel .channel-info .channel-meta {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  font-size: var(--font-medium);
}

.info .channel .channel-info .channel-meta .subscribers {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.info .channel .subscribe {
  background-color: var(--red-color);
  color: var(--white-color);
  padding: var(--padding);
  font-size: var(--font-medium);
  transition: 300ms;
}

.info .channel .subscribe.clicked {
  color: var(--grey-dark-color);
  background-color: var(--grey-light-color);
}

/* Up Next */
.upNext {
  padding: 0 var(--padding);
}

.upNext > span {
  display: inline-block;
  margin-bottom: var(--padding);
  font-size: var(--font-medium);
  color: var(--grey-dark-color);
}

.upNext .next-video li {
  display: flex;
  margin-bottom: var(--padding);
}

.upNext .next-video li .img {
  flex: 1 1 35%;
  margin-right: var(--padding);
}

.upNext .next-video li .img img {
  width: 100%;
}

.upNext .next-video li .next-meta {
  display: flex;
  flex-direction: column;
  flex: 1 1 60%;
  font-size: var(--font-small);
}

.upNext .next-video li .next-meta .name,
.upNext .next-video li .next-meta .view {
  font-size: var(--font-micro);
  color: var(--grey-dark-color);
}

.upNext .next-video li .moreBtn {
  flex: 1 1 5%;
  height: 100%;
}
